body{
    background-image: url("../img/fundo.jpg");

}

.container-form{
    background-color: white;
    width: 30%;
	margin-left: 35%;
    margin-right: 35%;
    margin-top: 8%;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 20px;
    padding-top: 20px; 
    text-align: center;  
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.input{
    background-color: #E3E3E3;
    font-size: 17px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    padding: 4.5% 3%;
    width: 80%;
    font-family: 'Roboto', sans-serif;
}

.input:focus{
    outline: none;
    background-color: #FFFFFF;
    border: 1px solid rgb(175, 175, 175);
}

.input:hover{
    cursor: pointer;
}

#btn-entrar{
    background-color: darkgreen;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    padding: 4.5% 3%;
    width: 86%;
    font-size: 17px;
    color: white;
    margin-top: 10%;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(18deg, rgba(114,67,169,1) 0%, rgba(78,44,154,1) 100%);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#btn-entrar:hover{
    box-shadow: none;
    cursor: pointer;
    background: linear-gradient(18deg, rgba(93,38,126,1) 0%, rgba(117,67,169,1) 100%);
}

#btn-cadastrar{
    background: linear-gradient(18deg, rgb(179, 45, 96) 0%, rgba(169,67,102,1) 100%);
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    padding: 4.5% 3%;
    width: 86%;
    font-size: 17px;
    color: white;
    margin-top: 1.6%;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#btn-cadastrar:hover{
    cursor: pointer;
    background: linear-gradient(18deg, rgba(169,67,102,1) 100%, rgba(93,38,126,1) 0%);
    box-shadow: none;
}

h3{
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    color: #683CA5;
 }